<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  
  Publish information
  
  
  Server: ftp.axzes.com
  Site Path: /
  Pasive Mode= True
  User name: jcarlos@axzes.com
  password: Fernand0.!
  FTP Server: ftp.axzes.com
  FTP port: 21
  
  Direction URL: http://axzes.com/braisperez/
  
  -->

<configuration>
    <system.web>
      <compilation debug="true" strict="false" explicit="true" targetFramework="4.6.1" />
      <httpRuntime targetFramework="4.6.1" />
    </system.web>

</configuration>
